body {
    background: rgb(18, 18, 59) ;
    color: #fff ;
    padding: 25px ;
    font-family: Arial, Helvetica, sans-serif ;
    background-image: url(https://i.pinimg.com/originals/f2/4e/72/f24e72eb9f88da03a91df409671f1e5b.jpg);
  }

  h1 {
    color: #ffffff;
    font-size: 25px;
    font-family: Jumble;
}

p {
    font-size: large;
    color: bisque;
    font-family: Comic Sans;
    font-weight: 300;
}

a {
    color: rgb(255, 255, 255);
    font-family: Comic Sans;
    font-size: large;  
}

.imagem-ajustada {
    width: 1000px;
    height: auto;
    border: 2px;
}

.imagem-centralizada {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imagem-icon {
    image-rendering: optimizeQuality;
    border-image: 2px;
}

a {
    display: flow-root;
    justify-content: center;
}

iframe {
    width: 600px;
    height: 300px;
    border: none;
    padding: 0;
    
}

p {
    font-family: Jumble;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-style: strong;
    font-size: x-large;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer{
    background-image: url(https://as1.ftcdn.net/v2/jpg/04/40/95/78/1000_F_440957816_P2mvkvjwvta8Fo68BWBvts6OoWxEQtzQ.jpg);
    height: 5cm;
    display:flex;
}

.conteudo {
    display:grid;
}

a[href]{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: fantasy;
    font-weight: bold;
}

#IncorporaçãoInsta {
    max-width: 1000px;
    max-height: 1000px;

    margin: auto;
    padding: 40%;
}